body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* mypage.html */
.black {
  color: black;
}

.white {
  color: #ffffff;
}

.salmon {
  color: #e39774;
}

.blue {
  color: #326273;
}

.salmon-hover:hover {
  color: #e39774;
}

.almost__transparent-background-white {
  background-color: rgba(255, 255, 255, 0.5);
}

.burger__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.davi__hero {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('https://img.freepik.com/free-photo/young-man-runner-tying-shoelaces_1421-46.jpg?t=st=1651020959~exp=1651021559~hmac=11b5ee38de29f6868261b975a1ceac40f922d1d5e7414990e6f36975df623530&w=1800')
      no-repeat center bottom / cover;
}

.info__background {
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url('https://cdn.pixabay.com/photo/2019/10/27/21/29/girls-4582899_1280.jpg')
      no-repeat center bottom / cover;
}

.contact__background {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../images/smart-map-1.png') no-repeat center bottom / cover;
}

.transparent__background {
  background-color: rgba(0, 0, 0, 0);
}

.davi__padding {
  padding: 2rem;
}

.davi__margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .davi__carousel {
    overflow: hidden;
  }
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* about.html */
.about__hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://img.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15872.jpg?t=st=1647562308~exp=1647562908~hmac=12eefcd6362b4b514a78d2e1373f196ccf2a49d29578bc12f9b1dd29665832aa&w=1800')
      no-repeat center bottom / cover;
}

.about__hero-content-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about__hero-content {
  color: #e39774;
  padding: 1rem;
}

/* contact.html */
@media only screen and (min-width: 768px) {
  .oi {
    padding: 4rem 7rem 7rem 7rem;
  }
}

.oi2 {
  color: #e39774;
}
